#exerciselist{
    width: 50%;
    color: green;
    border: 5px solid black;
}

#notelist{
    width: 50%;
    color: green;
    border: 5px solid black;
}

#mainlist{
    display:flex;
}

a.src {
  margin-left: 12px;
}